<!DOCTYPE html>
<html>
<head>
  <title>Linkr</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="minimal <%= controller.controller_name %> <%= controller.action_name %>">

  <% if flash[:alert] || flash[:notice] %>
    <div id="flash">
      <div class="container">
        <% if flash[:notice] %>
          <div class="notice">
            <p><%= flash[:notice] %></p>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div class="alert">
            <p><%= flash[:alert] %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div id="main">
    <div class="container">
      <%= yield %>
    </div>
  </div>

</body>
</html>
