<!DOCTYPE html>
<html>
<head>
  <title>Linkr</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="minimal <%= controller.controller_name %> <%= controller.action_name %>">

  <% unless flash.empty? %>
    <div id="flash">
      <% flash.each do |key, value|%>
        <div class="container <%= key %>">
          <p><%= value %></p>
        </div>
      <% end %>
    </div>
  <% end %>

  <div id="main">
    <div class="container">
      <%= yield %>
    </div>
  </div>

</body>
</html>
